.template {
    visibility: hidden;
}

.flick {
    clear: both;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    border: 3px solid wheat;
    transition: 0.40s
}

.flick-name {
    flex-grow: 1;
}
.actions.button-group {
    margin-bottom: 0;
}
.flick + .flick {
    border-top: 0;
}
.actions {
   
}
.flick.fav {
    background-color: orange;
    border-color: yellowgreen;
}
